{% extends "base.html" %}

{% block content %}
<h1>Dashboard</h1>
<h2>Rental Transactions</h2>
<a href="{{ url_for('dashboard.signin') }}">New Rental</a><br>
<a href="{{ url_for('dashboard.signup') }}">New Customer</a><br>
<div>
    {% if current_user %}
        <p style="color: darkgreen">{{ current_user.username }}</p>
    {% endif %}
</div>
<table>
    <tr>
        <th>Rental ID</th>
        <th>Video Title</th>
        <th>Customer Name</th>
        <th>Amount Paid</th>
        <th>Date</th>
        <th>Due Date</th>
        <th>Date Returned</th>
    </tr>
    {% if rentals %}
    {% for rental in rentals %}
        <tr>
            <td>{{ rental.rental_id }}</td>
            {% if rental.video.video_title=="Deleted" %}
            <td><span style="color: red">{{ rental.video.video_title }}</span></td>
            {% else %}
            <td>{{ rental.video.video_title }}</td>
            {% endif %}
            <td>{{ rental.customer.first_name }} {{ rental.customer.last_name }}</td>
            <td>{{ rental.video.unit_price + rental.video.unit_price*0.1 }}</td>
            <td>{{ rental.date }}</td>
            <td>{{ rental.due_date }}</td>
            {% if return_state[rental] %}
            <td>{{ rental.date_returned }}</td>
            {% else %} <td><span style="color: red;">Not Returned</span></td>
            {% endif %}
        </tr>
    {% endfor %}
    {% else %} <h3>No Rentals To Display</h3>
    {% endif %}
</table>
{% endblock content %}