{% extends "base.html" %}

{% block content %}
<h1>Sign Customer Up</h1>
<form method="POST" name="customer_signup">
    {{ customer_signup.hidden_tag() }}
    {{ customer_signup.first_name.label }}<br>
    {{ customer_signup.first_name(id="firstNameField", placeholder="Enter first name here") }}<br><br>
    {{ customer_signup.last_name.label }}<br>
    {{ customer_signup.last_name(id="lastNameField", placeholder="Enter last name here") }}<br><br>
    {{ customer_signup.email.label }}<br>
    {{ customer_signup.email(id="emailField", placeholder="Enter customer email here") }}<br><br>
    <span style="color: red">{{ msg }}</span><br>
    {{ customer_signup.submit(id="submitField") }}
</form>

{% endblock content %}