{% extends "base.html" %}

{% block content %}
<h1>Add A New Video</h1>
<form name="video_form" method="POST" onsubmit="confirmChanges()">
    {{ new_video_form.hidden_tag() }}
    {{ new_video_form.video_title.label }} <br>
    {{ new_video_form.video_title(placeholder="Enter a video title here") }} <br><br>
    {{ new_video_form.unit_price.label }} <br>
    {{ new_video_form.unit_price(placeholder="Enter unit price here") }} <br><br>
    {{ new_video_form.release_year.label }} <br>
    {{ new_video_form.release_year(placeholder="Enter release year here") }} <br><br>
    {{ new_video_form.genre.label }} <br>
    {{ new_video_form.genre() }} <br><br>
    {{ new_video_form.submit(id="submitBtn") }}
</form>
<script>
    function confirmChanges(){
        var results = confirm("Are you sure you want to continue?");

        if(result == true){
            return true;
        }
        else{
            return false;
        }
    }
</script>
{% endblock content %}