<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Rent A Movie</title>
</head>
<body>
    <div class="full-width">
        <nav class="nav-bar">
            <div class="nav-container">
                <div class="logo"><h1>RENT A MOVIE</h1></div>
                <a href="{{ url_for('signout') }}">Sign Out</div>
            </div>
        </nav>
        <aside class="sidebar">
            <ul class="menu-container">
                <li class="menu-item">
                    <a href="{{ url_for('dashboard.index') }}">Dashboard</a>
                </li>
                <li class="menu-item">
                    <a href="{{ url_for('customers.index') }}">Customers</a>
                </li>
                <li class="menu-item">
                    <a href="{{ url_for('videos.index') }}">Videos</a>
                </li>
            </ul>
        </aside>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>